:root {
    --bg-color-1: wheat;
    --bg-color-2: rgb(243, 227, 198);
}


html, body {
    background-color: var(--bg-color-1);
    margin: 0;
}

#Landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color-1);
}

.fileName {
    font-size: 1.2rem;
    font-weight: bold;
}

.message {
    font-size: 1.5rem;
    padding: 1rem 0 1rem 1rem;
}

.message:nth-child(even) {
    background-color: var(--bg-color-1);
}

.message:nth-child(odd) {
    background-color: var(--bg-color-2);
}

.file-label > .file-picker {
    position: absolute;
    top: -1000px;
  }

.file-label {
    cursor: pointer;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px 15px;
    background: #dddddd;
    display: inline-block;
}

.inputs {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    width: clamp(300px, 100%, 500px);
}

.box {
    width: clamp(500px, 100%, 1000px);
    height: clamp(300px, 100%, 500px);
    border: 1px solid black;
    background-color: #fff;
    overflow-y: auto;
}

.question {
    font-size: 1.2rem;
    width: 100%;
    padding-left: 0.5rem;
    border-radius: 0.2rem;

}

.file-label {
    border: none; 
    outline: none;
    width: 30%;
}

.file-label:hover {
    cursor: pointer;
}

.file-label {
    text-align: center;
}